<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test" verbose="5">
		<parameter name="url" value="http://leaftaps.com/opentaps" />
		<parameter name="username" value="DemoSalesManager" />
		<parameter name="password" value="crmsfa" />
		<classes>
		<!-- 	<class name="week2.day2.CreateLeads" />
		    <class name="week2.day2.DuplicateLead"/> 
			<class name="week2.day2.DeleteLead"/> -->
			<class name="week2.day2.EditLeads"/>
			<class name="week2.day2.MergeLeads"/>
		</classes>
	</test>
</suite>
